<%- include('partials/header') %>

    <div class="box" id="heading">
        <h1>
            <%= listvalue %>
        </h1>
    </div>

    <div class="box">

        <% for(var i=0; i<itemvalues.length;i++) {%>
            <form action="/delete" method="post">
                <div class="item">
                    <input type="checkbox" onChange="this.form.submit()" name="checkbox" value=<%=itemvalues[i]._id %>>
                    <p class="">
                        <%= itemvalues[i].name %>
                    </p>
                </div>    
                <input type="hidden" name="listName" value=<%= listvalue %>>
            </form>
            <% } %>

                <form class="itemx" action="/" method="post">
                    <input type="text" name="newItem" placeholder="Enter new item" autocomplete="off">
                    <button type="submit" name="list" value=<%=listvalue %>>+</button>
                </form>
    </div>

    <div class="footer">Lovekush &copy; 2023</div>

<%- include('partials/header') %>